body
{
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 0;
}

a{
    color: #ffa221;
    text-decoration: none;
}

.ank-btn{
    text-align: center;
    margin: 5px auto;
    width: 85%;
    border: 1px solid #000000;
    background: transparent;
    text-align: center;
    background: white;
    padding: 3px 5px;
    font-weight: bold;
    transition: .3s all ease-in-out;
}
ul a{
    color: black;
    width: 80%;
}
ul a:hover{
    color: white;
}

.ank-btn:hover{
    background: black;
}


#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    align-self: baseline;
}

.rectangle
{
    width: 960px;
    margin: 20px;
    text-align: center;
}

.square
{
    width: 50%;
    float: left
}

#logo
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    width: 600px;
    text-align: left;
}

#zegar
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    text-align: left;
}

.tile1
{
    margin: 10px;
    width: 480px;
    height: 142px;
    background-color:  #3095d3;
    float: left;
    text-align: center;
}

.tile1:hover
{
    background-color: #2084c2;
}

.tile3
{
    margin: 10px;
    width: 480px;
    height: 142px;
    background-color:  #93c748;
    float: left;
    text-align: center;
}

.tile3:hover
{
    background-color: #82b637;
}

.tile4
{
    margin: 10px;
    width: 430px;
    height: 92px;
    font-family: 'Josefin Sans', sans-serif;
    background-color:  #ee5a32;
    font-size: 24px;
    padding: 25px;
    text-align: center;
    line-height: 105%;

}

.tile4:hover
{
    background-color: #dd4a21;
}

.tile5
{
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color:  #666666;
    font-size: 24px;
    text-align: center;
    padding: 30px;
}
.tile5:hover
{
    background-color: #555555;
}

.yt
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color:  #4668b3;;
    float: left;
    text-align: center;
}

.yt:hover
{
    background-color: #3557a2;
}

.fb
{
    margin: 10px;
    padding: 0px;
    width: 146px;
    height: 142px;
    background-color:  #4668b3;
    float: left;
    text-align: center;
}

.fb:hover
{
    background-color: #3557a2;
}

a.tilelink
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 480px;
    height: 142px;
}

a.tilelink1
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 480px;
    height: 142px;
}

a.tilelink2
{
    color: #ffffff;
    text-decoration: none;
}

a.tilelink3
{
    color: #ffffff;
    text-decoration: none;
}

a.tilelink
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 480px;
    height: 142px;
}

a.tilelinkfbad
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 146px;
    height: 142px;
}

a.tilelinkfbas
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
}

#container_ankieta
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 711px;
}

.square_ankieta
{
    width: 25%;
    float: left;
}
.square_ankieta1
{
    width: 75%;
    float: left;
}


.tile_ankieta
{
    margin: 10px;
    width: 230px;
    background-color: #89d61d ;
    float: left;
    text-align: center;
}

.tile_ankieta1
{
    margin: 10px;
    width: 710px;
    min-height: 691px;
    background-color:  #91b85a;
    float: left;
    text-align: center;
}


.tile_instrukcja {
    margin: 10px;
    width: 1000px;
    min-height: 691px;
    background-color: #bb4aac;
    float: left;
    text-align: center;
    font-size: 36px;
}